<a href="https://colab.research.google.com/github/AhMedDa1/Get_Twitter-Data/blob/main/Twitter_GData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The purpose of this notebook is to help you gathering more tweets about specific search criteria

In [1]:
#@markdown <center><h1>-------- Import Libs and get the token and access keys -----------</h1></center><br>
import tweepy as tw
import pandas as pd
import ipywidgets as widgets

API_key= '7jbXRqWE5AqgQM0wapKcuvoJO' # @param {type:"string"}
api_secret= 'gGs3cy6cwvpWPteSxH0K5ktAZA2RAd3n3B0lml8rmQJvLoQPBC' # @param {type:"string"}
access_token= '751390828480851968-wuePmwpDPA0oLuOq30grBMW5N3SYndN' # @param {type:"string"}
access_token_secret= 'wXYNlBxGMOqM5LfbwV2a5ou7MZjIqjyCqhUhrTXQffSIu' # @param {type:"string"}


auth = tw.OAuthHandler(API_key, api_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

You can custumize your serch criteria here 
add @ before the word if you want to search every tweet that mentioned this word.




"#" for Hashtags 

this will return all tweet and retweets you can use this filter after search's word:




*   -filter:quoteweets
*   -filter:replies
*   -filter:retweets

In [2]:
Search_words = "\u0632\u064A\u0646" # @param {type:"string"}
Date_since = "2014-01-01" # @param {type:"date"}
Count = 200 # @param {type:"integer"}
#-filter:quoteweets -filter:replies -filter:retweets

In [3]:
tweets = tw.Cursor(api.search,
                       q=Search_words,
                       lang="ar",
                       since=Date_since).items(Count)

In [4]:
users_tweet = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.favorite_count, tweet.is_quote_status, tweet.created_at, tweet.retweet_count , ] for tweet in tweets]

In [5]:
tweet_text = pd.DataFrame(data=users_tweet, 
                    columns=['user', "location","text","favorite_count","is_quote_status","created_at", "retweet_count"])


tweet_text

,user,location,text,favorite_count,is_quote_status,created_at,retweet_count
0,ypxdo,,@clo887 دايم كلامي زين 🌝😂,0,False,2022-08-07 22:07:05,0
1,EAbbas079,,RT @paintapduallh: قايلاه لكم \nالقصف علي #صنع...,0,False,2022-08-07 22:07:03,2
2,ly26141868,,@fut_fifaa فارس والشباب في احد زين غير حكيمي و...,0,False,2022-08-07 22:07:00,0
3,Disha68355799,,@hnoufili يا أخي أنا مصري واقولك طاش ما طاش ضح...,0,False,2022-08-07 22:06:58,0
4,mbark39049277,,@ZainKSA @masor323a #زين \n\nالجواب : 3/ جميع ...,0,False,2022-08-07 22:06:49,0
...,...,...,...,...,...,...,...
195,Jgf6yTapbZnX9eV,,@Ealia_Nsyf علي غلام مليشياوي وتعرفونه كل زين\...,0,False,2022-08-07 21:54:46,0
196,iiq_za,🇮🇶,@23__su اختياراتي زين بس اني مو زين🚶‍♀️,0,False,2022-08-07 21:54:46,0
197,aizz089,"Riyadh, Kingdom of Saudi Arabia",تحديث سهم زين 11.9 \n\nالمفتاح 13.9 تقريبا - ا...,0,False,2022-08-07 21:54:41,0
198,hjwwr4,,@X1X95 زين حمد زين,1,False,2022-08-07 21:54:41,0
199,fg1388,,@1SMi_ من زين لعبه هالملايين ورافض وهو جاي من ...,0,False,2022-08-07 21:54:40,0

# Zain's Tweets

In [ ]:
ztweet = api.user_timeline(screen_name='ZainSudan', 
                           # 200 is the maximum allowed count
                           count=500,
                           include_rts = False,
                           
                           tweet_mode = 'extended'
                           )

In [ ]:
Zain_tweets = [[tweet.user.screen_name, tweet.user.location, tweet.full_text, tweet.favorite_count,  tweet.created_at, tweet.retweet_count ] for tweet in ztweet]

In [ ]:
dataf = pd.DataFrame(data=Zain_tweets, 
                    columns=['user', "location","text","favorite_count","created_at", "retweet_count"])
dataf

,user,location,text,favorite_count,created_at,retweet_count
0,ZainSudan,Sudan - Khartoum,باقات كبيرة و خيارات كتيرة مع #مليانة_داتا ..\...,2,2022-08-07 13:36:11,0
1,ZainSudan,Sudan - Khartoum,لكُل مُشتركي العالم الجميل ... يُمكنكم التواصُ...,14,2022-08-07 08:57:25,0
2,ZainSudan,Sudan - Khartoum,Applications Are Open for The Second Edition o...,16,2022-08-06 12:39:40,4
3,ZainSudan,Sudan - Khartoum,Always connected to #Nature\n\n#WeAreNature #Z...,18,2022-08-06 10:23:27,1
4,ZainSudan,Sudan - Khartoum,@ahmed_abonoor مرحباً بك @ahmed_abonoor (ahme...,1,2022-08-05 15:05:03,0
...,...,...,...,...,...,...
195,ZainSudan,Sudan - Khartoum,كان العام 2021 مليئا بالتحديات، ولكم لم تمنعنا...,32,2022-04-19 11:12:08,2
196,ZainSudan,Sudan - Khartoum,@MaudoTwix عفواً لديك خدمة تحويل مكالمات مفعلة...,0,2022-04-19 07:39:12,0
197,ZainSudan,Sudan - Khartoum,#مُسابقات_زين \nفي أي عام هجري وقعت غزوة بدر ا...,694,2022-04-18 07:10:47,607
198,ZainSudan,Sudan - Khartoum,"مع #زين يُمكنك الإستمتاع بوُحدات ""تكتك"" أثناء ...",36,2022-04-18 05:31:13,3
199,ZainSudan,Sudan - Khartoum,ألف مبروووك للفائزين في مُسابقة رمضان ، الجائ...,59,2022-04-17 19:16:30,6