<a href="https://colab.research.google.com/github/AhMedDa1/Zain_Analysis/blob/main/Twitter_Data_First.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import tweepy as tw
import pandas as pd

In [9]:
API_key= 'SabyZurWYwLfBxL2Sg3Guw33L'
api_secret= 'Xmkhlv1HdHgZb5soUg1E3r3kQSbdexFQGdT0x6JAYNCaenQwda'
access_token= '751390828480851968-gdXy9zxrjZgQYEHtyfYmtHbVCkmEd8w'
access_token_secret= '7UINatf9CfdZUSmo5Sc3FYEIIibwitazCSnBP3eVTwv3K'

In [10]:
auth = tw.OAuthHandler(API_key, api_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [191]:
search_words = "@ZainSudan -filter:retweets -filter:replies"
date_since = "2022-01-01"

In [202]:
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="ar",
                       since=date_since).items(10)

users_tweet = [[tweet.user.screen_name, tweet.user.location, tweet.text, tweet.favorite_count, tweet.is_quote_status, tweet.created_at, tweet.retweet_count ] for tweet in tweets]

In [203]:
tweet_text = pd.DataFrame(data=users_tweet, 
                    columns=['user', "location","text","favorite_count","is_quote_status","created_at", "retweet_count"])
tweet_text

,user,location,text,favorite_count,is_quote_status,created_at,retweet_count
0,Mood_key,,⭕️⭕️⭕️⭕️⭕️⭕️\nلديكم جهل او خيانه\n\n@albaik \n...,0,False,2022-08-05 22:06:18,0
1,themuse_sd,"Khartoum, Sudan",English below\n\nيبدأ شهر أغسطس بصورة جديدة لت...,13,False,2022-08-04 18:46:46,3
2,AbdelrahimAlto3,Sudan,شبكة زين بقت زي اريبا واحد و كمان بتنافسها في ...,1,False,2022-08-03 19:56:42,0
3,5ldon5lody,+249 +966,صباح النور\nنتكم سمح شديد ما شاء الله بس عصرتو...,0,True,2022-08-01 07:29:51,0
4,Amalshalbi12,السودان,عندنا همر واقفه ساكت لو في اي جهه عاوزة تاجر ب...,0,False,2022-07-31 15:51:28,0
5,M7md3bdo4,في بيت امي 💪,اسوء خدمة واغلى خدمة للانترنت واصلا م ح تتقدمو...,2,False,2022-07-30 21:36:50,0
6,Alzain51338221,السودان,قسما بالله ياناس زين انتو لا عالم جميل ولا سجم...,0,False,2022-07-30 06:25:11,0
7,7anina,,ما يا تصلحو شبكتكم، يا تقلبوها كُشك شاي كرك \n...,0,False,2022-07-29 22:51:55,0
8,haitham_bak,الجنة بإذن الله,كانت لنا أيام\n⁦@ZainSudan⁩ https://t.co/DtTyU...,0,False,2022-07-28 11:23:23,0

# Zain's Tweets

In [218]:
ztweet = api.user_timeline(screen_name='ZainSudan', 
                           # 200 is the maximum allowed count
                           count=500,
                           include_rts = False,
                           
                           tweet_mode = 'extended'
                           )

In [219]:
Zain_tweets = [[tweet.user.screen_name, tweet.user.location, tweet.full_text, tweet.favorite_count,  tweet.created_at, tweet.retweet_count ] for tweet in ztweet]

In [220]:
dataf = pd.DataFrame(data=Zain_tweets, 
                    columns=['user', "location","text","favorite_count","created_at", "retweet_count"])
dataf

,user,location,text,favorite_count,created_at,retweet_count
0,ZainSudan,Sudan - Khartoum,Applications Are Open for The Second Edition o...,8,2022-08-06 12:39:40,3
1,ZainSudan,Sudan - Khartoum,Always connected to #Nature\n\n#WeAreNature #Z...,8,2022-08-06 10:23:27,0
2,ZainSudan,Sudan - Khartoum,@ahmed_abonoor مرحباً بك @ahmed_abonoor (ahme...,1,2022-08-05 15:05:03,0
3,ZainSudan,Sudan - Khartoum,شروط المسابقة :\n⚽️ اشترك في دوري (Zain SD Fan...,51,2022-08-05 12:50:22,52
4,ZainSudan,Sudan - Khartoum,المركز الأول : 5 Play Station\nالمركز الثاني :...,37,2022-08-05 12:49:32,14
...,...,...,...,...,...,...
195,ZainSudan,Sudan - Khartoum,#مُسابقات_زين \nفي أي عام هجري وقعت غزوة بدر ا...,693,2022-04-18 07:10:47,606
196,ZainSudan,Sudan - Khartoum,"مع #زين يُمكنك الإستمتاع بوُحدات ""تكتك"" أثناء ...",36,2022-04-18 05:31:13,3
197,ZainSudan,Sudan - Khartoum,ألف مبروووك للفائزين في مُسابقة رمضان ، الجائ...,59,2022-04-17 19:16:30,6
198,ZainSudan,Sudan - Khartoum,كُـــــن مُمتناً لكُــــل جميل 🤍💜\n\nصباحكُـــ...,42,2022-04-17 06:19:36,3
199,ZainSudan,Sudan - Khartoum,عرض خاص بالمُعتمرين .. للتواصُل مع أهلكم من ف...,27,2022-04-16 13:27:49,3